<!DOCTYPE html>
<html>
<head>
	<title>БЕР — Построй свой бургер!</title>
</head>
<body>
	<div class="content-wrapper">
		<div class="customer-info">
			<form method="POST" action="/order">
				<table>
					<tr>
						<td>Ваше имя:</td>
						<td><input type="text" name="name" id="name-field"></td>
					</tr>
					<tr>
						<td>Номер телефона:</td>
						<td><input type="text" name="phone_number" id="number-field"></td>
					</tr>
					<tr>
						<td>Адрес доставки:</td>
						<td><input type="text" name="address" id="address-field"></td>
					</tr>
				</table>
				<input type="submit" value="Заказать">
			</form>
		</div>
	</div>
</body>
</html>