{% extends "index.jinja2" %}

{% block content %}
    <h1>Информация о заказе</h1>
    <p>Номер заказа: 24124</p>
    <p>Ваше имя: {{order_info.name}}</p>
    <p>Ваш номер: {{order_info.phone_number}}</p>
    <p>Ваш адрес: {{order_info.address}}</p>

    <h2>Собранный бургер:</h2>
    <p>Булочка: {{order_info.burger_config.bun}}</p>
    <p>Котлета: {{order_info.burger_config.cutlet}}</p>
    <p>Начинка: {{order_info.burger_config.stuffings}}</p>
    <p>Соусы: {{order_info.burger_config.sauces}}</p>
{% endblock content %}